
.header {
	height: 50px;
	width: 100%;
	background-color: #396a9f;
	display: flex;
	justify-content: space-around;
	color: white;
}
.header a {
	color: white;
}
.header a,.header div{
	padding-top: 10px; 
}