.net-status {
	width: 150px;
	border: 0px solid red;
	border-radius: 5px;
	color: red;
	background-color: orange;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	bottom: 20px;
	right: 0;
}